#koupon {
    .btn {
        color: $light-button-color;

        &.btn-primary {
            color: $light-button-color;
        }

        &.btn-secondary {
            color: $light-button-color;
        }

        &.btn-tertiary {
            color: $light-button-color;
        }

        &.btn-dark {
            color: $light-button-color;
        }

        &.btn-error {
            color: #fff;
        }
    }
}