.hover-up {
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: translateY(-5px);
    }
}

body {
    background-image: radial-gradient(#ddd 1px, transparent 0), radial-gradient(#ddd 1px, transparent 0);
}