$light-primary  : #3b82f6;
$light-secondary: #38bdf8;
$light-tertiary : #a855f7;

$dark-primary  : #3b82f6;
$dark-secondary: #38bdf8;
$dark-tertiary : #a855f7;

$light-button-color: #fff;

$light-background: #fff;
$dark-background : #131313;